<div class="user-details">
  <h1> About Me </h1>
  <p> There are many definitions of what a programmer is. 
    <br> But I think the most appropriate answer is a <b>"Problem Solver"</b>. 
    <br>And it was based on this definition that I fell in love with this area! <br> 
  <h3>Education Background</h3> 
  I was always passionate about games and was very curious to find out how they were created. 
  This inspired me to attend the <b>Bachelor in Science and Technology</b> and <b>Bachelor in Computer Science</b> 
  courses at Universidade Federal do ABC (UFABC) that were completed in 2017. These experiences allowed me to specialize not only in the field 
  of computing, but also a broad experience with teachers and students from different areas of science.<br>
  <br> <br> In the next year (2018) I had the oportunity to apply to the <b>Master's degree in Computer 
    Science</b> again at <b>UFABC</b>, with emphasis in <b>Computer Graphics</b> and <b>Image Processing</b>. 
    My project, <b>Supervised Segmentation in High Resolution Images</b>, obtained funding from <b>Capes</b> due
    my good performance during the course, this projects was finished in 2020.
    <h3>Professional Experience</h3>
    During my graduation I did internship at the <b>Center for Educational Technologies of UFABC (NTE)</b>, 
    where I participated in the development of educational game projects. 
    After this experience, I became <b>Junior Software Developer</b> at <b>Ambra Gaming</b>,
    where I worked in game development using <b>C++</b> where I worked until the beginning of my Master's degree.
    <br> <br> In 2019 I returned to <b>Ambra Gaming</b> as <b>Software Developer</b>, working again in development of 
    projects and games in <b>C++</b>
    Near the beginning of the pandemic, I suggested the creation of a new gaming platform for the company using 
    <b>Unity3D (C#)</b>, then I assumed the position of <b>Tech Leader and Developer</b>, planning the project 
    architecture, and developing the Back-end in <b>PHP (Laravel) and Python</b> and the Front-end with <b>Unity</b>.
    <br> <br>At the end of 2021 I finished my cycle at Ambra Gaming and started at <b>Wildlife Studios</b>, where I am 
    currently working as <b>Game Engineer</b>!
  </p>
</div>
  
