<div class="user-details">
  <h1> About Me </h1>
  <p> There are many definitions of what a programmer is. 
    <br> But I think the most appropriate answer is a <b>"Problem Solver"</b>. 
    <br>And it was based on this definition that I fell in love with this area! <br> 
    <br> I started my profecional training at <b>Universidade Federal do ABC (UFABC)</b>, 
    where I attended the <b>Bachelor in Science and Technology</b> and <b>Bachelor in Computer Science</b> 
    courses. These experiences allowed me to specialize not only in the field of computing, 
    but also a broad experience with teachers and students from different areas of science.<br>
    <br>After graduating I decided to enter the job market, and became <b>Software Developer</b> at <b>Ambra Gaming</b>, 
    where I worked with game development and some projects with <b>C++</b>.<br>
    <br>During this period in the company I received an invitation from my teacher to apply to 
    <b>Master's degree in Computer Science</b> again at <b>UFABC</b>, 
    but due to the conflict of class hours with work I had to interrupt my contract.
     Because of my good performance in the disciplines I received the support of <b>Capes</b> to finish my project.<br>
    <br>I am currently finishing my master's thesis in <b>Image Processing</b> and I went back to work at <b>Ambra Gaming</b> as 
    <b>Software Project Manager</b> and developer, coordinating a team of programmers in the development 
    of new products.<br><br> In my spare time I seek to improve myself in the areas of <b>Data Science</b> and 
    <b>Machine Learning</b>, that are essential in a world like the one we live with a gigantic amount of data.
  </p>
</div>
  
