<div id="particles-js">
    <div class="header">
        <div class="language">
          <a href="index.html"><img alt="br-page" src="{{ "/assets/img/flags/br.png" | prepend: site.baseurl }}" width="50" height="50"></a>
          &nbsp;&nbsp;
          <a href="indexEN.html"><img alt="en-page" src="{{ "/assets/img/flags/en.png" | prepend: site.baseurl }}" width="50" height="50"></a>
        </div>
        <h1>
          <span class="site-title">{{site.username}}</span>
          <span class="site-description">Senior Game Engineer </br> Software Developer
        </h1>
        <div class="header-icons">
          <a aria-label="Send email" href="mailto:erickfecruz@hotmail.com"><i class="icon fa fa-envelope"></i></a>
          <a aria-label="My Linkedin" target="_blank" href="https://www.linkedin.com/in/erickfecruz/"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
          <a aria-label="My Github" target="_blank" href="https://github.com/erickfecruz"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        </div>
        <div class="header-links">
            <a class="link" href="#about" data-scroll>About Me</a>
                <a class="link" href="#tools" data-scroll>Tools</a>
            <a class="link" href="#projects" data-scroll>Projects</a>
                <a class="link" href="#badges" data-scroll>Badges</a>
        </div>
    </div>
    <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
  </div>
  