<div class="user-details">
  <h1> Projetos </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="data" src="{{ "/assets/img/projects/segmentation.png" | prepend: site.baseurl }}" style="margin:30px 0px" />
  </div>
  <div class="contents-left">
    <h3>Aplicação para Segmentação Assistida de Imagens</h3>
    <p>Esta aplicação tem como objetivo juntar diferentes técnicas de <b>Segmentação Assistida de Imagens</b> abordadas em minha <b>Tese de Mestrado</b>. Além destas técnicas, também será disponibilizado uma série de algoritmos de <b>Clusterização em Superpixels</b> para que o usuário possa explorar as características que cada técnica possui.</p>
    <a class="project-link" href="#">Em Breve</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="data" src="{{ "/assets/img/projects/enem.png" | prepend: site.baseurl }}" style="margin:30px 0px" />
  </div>
  <div class="contents-right">
    <h3>Data Science - Desafio Codenation: Prever Notas de Matemática do ENEM 2016</h3>
    <p>Neste desafio foi colocado em prática conceitos de <b>Data Science</b> E <b>Machine Learning</b> como o preparo e análise de dados. <br><br>Através de um conjunto de dados do ENEM 2016 foi possível prever as notas da prova de matemática utilizando técnicas de <b>Regressão</b>.</p>
    <a class="project-link" href="https://github.com/erickfecruz/Codenation_-_Prevendo_Nota_de_Matematica_ENEM_2016">Repositório</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="data" src="{{ "/assets/img/projects/data.jpeg" | prepend: site.baseurl }}" style="margin:65px 0px" />
  </div>
  <div class="contents-left">
    <h3>Curso - Python para DataScience e Machine Learning</h3>
    <p>Repositório contendo as resoluções de projetos e exercícios do curso <b>"Python para DataScience e Machine Learning"</b> oferecido na plataforma Udemy.<br><br>Foi possível praticar a utilização de bibliotecas importantes de <b>DataScience</b> como o <b>SciPy</b> <b>Seaborn</b>, <b>Pandas</b>, <b>Numpy</b>, dentre outras!</p>
    <a class="project-link" href="https://github.com/erickfecruz/Udemy_-_Python_para_DataScience_e_Machine_Learning">Repositório</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="data" src="{{ "/assets/img/projects/bingo.jpg" | prepend: site.baseurl }}"/>
  </div>
  <div class="contents-right">
    <h3>Bingo All Stars - Ambra Gaming</h3>
    <p>Participação no desenvolvimento do <b>Multijogo de Bingo da Ambra Gaming</b> desenvolvido em <b>C++</b>.</p>
    <a class="project-link" href="https://www.ambragaming.com/game/bingo-all-stars/">Link</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="data" src="{{ "/assets/img/projects/slot.jpg" | prepend: site.baseurl }}"/>
  </div>
  <div class="contents-left">
    <h3>Ambra All Stars - Ambra Gaming</h3>
    <p>Participação no desenvolvimento do <b>Multijogo de Slot da Ambra Gaming</b> desenvolvido em <b>C++</b>.</p>
    <a class="project-link" href="https://www.ambragaming.com/game/ambra-all-stars/">Link</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="data" src="{{ "/assets/img/projects/weather.png" | prepend: site.baseurl }}"/>
  </div>
  <div class="contents-right">
    <h3>Weather Forecast App</h3>
    <p>Aplicação desenvolvida em <b>NodeJS</b> utilizando diferentes APIs para obtenção da temperatura atual de uma região desejada. Para a parte front da aplicação foram utilizados <b>HTML</b>, <b>CSS</b> e <b>Javascript</b>.</p>
    <a class="project-link" href="https://wheather-forecast-erick.herokuapp.com/">Link</a>&nbsp;
    <a class="project-link" href="https://github.com/erickfecruz/nodejs-weather-forecast">Repositório</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="epicbattle" src="{{ "/assets/img/projects/epicbattle.jpg" | prepend: site.baseurl }}" style="margin:20px 0px" />
  </div>
  <div class="contents-left">
    <h3>The Epic Battle </h3>
    <p>Jogo desenvolvido em <b>C#</b> na engine <b>Unity3D</b> com a intenção de recriar um sistema de batalha baseado nos clássicos jogos de RPG de turno como Final Fantasy.
		<br><br><b>Obs:</b> As sprites utilizadas são de propriedade da Square Enix. Produto sem fins lucrativos!</p>
    <a class="project-link" href="https://drive.google.com/open?id=16bzEX9V8n5ZW-dbt5syAHNoo9oZYqkXt">Download</a>&nbsp;
	<a class="project-link" href="https://github.com/erickfecruz/Coursera_-_C-_Programming_for_Unity">Repositório</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="epicbattle" src="{{ "/assets/img/projects/beavers.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Dammit Beavers</h3>
    <p>Dammit Beavers foi um jogo desenvolvido pela equipe de desenvolvedores e designers da Ambra Gaming em nossa participação na Global Game Jam 2020.</p>
    <a class="project-link" href="https://globalgamejam.org/2020/games/dammit-beavers-7">Site</a>&nbsp;
	<a class="project-link" href="https://github.com/erickfecruz/Global_Game_Jam_2020_-_Dammit_Beavers">Repositório</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="maze" src="{{ "/assets/img/projects/maze.png" | prepend: site.baseurl }}" style="margin:65px 0px"/>
  </div>
  <div class="contents-left">
    <h3> Algoritmos de Geração e Resolução de Labirintos </h3>
    <p>Aplicação desenvolvida em <b>C#</b> na engine <b>Unity3D</b> que permite a visualização em tempo real do funcionamento de diferentes algoritmos de geração e resolução de labirintos.<br><br>Projeto desenvolvido como parte do TCC para obtenção do título de Bel. em Ciência da Computação<br></p>
    <a class="project-link" href="https://drive.google.com/open?id=1XNR5JKPnHcQWwUkoOC9aEJ-meOWC6LJy">Download</a>&nbsp;
	<a class="project-link" href="https://github.com/erickfecruz/TCC_Graduacao_-_Geracao_e_Resolucao_de_Algoritmos">Repositório</a>&nbsp;
	<a class="project-link" href="https://drive.google.com/open?id=1FU5_K2glRMBhKpCrgF4LOpU0Qn5WQqAO">TCC</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="maze" src="{{ "/assets/img/projects/mymanga.png" | prepend: site.baseurl }}"/>
  </div>
  <div class="contents-right">
    <h3> My Manga Collection </h3>
    <p>Aplicativo desenvolvido como projeto final para a disciplina de "Programação Avançada de Dispositivos Móveis" durante o Bacharelado em Ciência da Computação (UFABC).<br></p>
	<a class="project-link" href="https://github.com/erickfecruz/APK_-_My_Manga_Collection">Repositório</a>
	<a class="project-link" href="https://drive.google.com/open?id=0B9aQVwf7b-hBMktrdXhnTWE2dTQ">Relatório</a>
  </div>
</div>