<div class="user-details">
   <h1> Projects </h1>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="data" src="{{ "/assets/img/projects/warmachines.jpeg" | prepend: site.baseurl }}" style="margin:30px 0px" />
  </div>
  <div class="contents-right">
    <h3>War Machines - Wildlife Studios</h3>
    <p>Participation in the development and maintenance of the game <b>War Machines</b>, creating new features and improve the LiveOps tools to operate the game.</p>
    <a class="project-link" href="https://wildlifestudios.com/pt-br/jogos/war-machines/">Link</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="data" src="{{ "/assets/img/projects/segmentation.png" | prepend: site.baseurl }}" style="margin:30px 0px" />
  </div>
  <div class="contents-left">
    <h3>Supervised Image Segmentation Application</h3>
    <p>This application aims to bring different <b>Supervised Image Segmentation</b> algorithms used in my <b>Master's Thesis</b>. In addition to these techniques, a number of <b>Superpixel Clustering</b> algorithms will also be available, so that the user can explore the characteristics that each technique have.</p>
    <a class="project-link" href="#">Soon</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="data" src="{{ "/assets/img/projects/enem.png" | prepend: site.baseurl }}" style="margin:30px 0px" />
  </div>
  <div class="contents-right">
    <h3>Data Science - Codenation Challenge: Predict Math Grades from ENEM 2016</h3>
    <p>In this challenge, concepts of <b>Data Science</b> and <b>Machine Learning</b> such as data preparation and analysis, have been put into practice. <br><br>Through a dataset of ENEM 2016 it was possible to predict the grades of the math test using <b>Regression</b> techniques.</p>
    <a class="project-link" href="https://github.com/erickfecruz/Codenation_-_Prevendo_Nota_de_Matematica_ENEM_2016">Repository</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="data" src="{{ "/assets/img/projects/data.jpeg" | prepend: site.baseurl }}" style="margin:65px 0px" />
  </div>
  <div class="contents-left">
    <h3>Course - Python for DataScience and Machine Learning</h3>
    <p>Repository containing project resolutions and exercises of <b>"Python for DataScience and Machine Learning"</b> course, offered on the Udemy platform.<br><br>It was possible to practice the use of important <b>DataScience</b> libraries such as <b>SciPy</b> <b>Seaborn</b>, <b>Pandas</b>, <b>Numpy</b>, among others!</p>
    <a class="project-link" href="https://github.com/erickfecruz/Udemy_-_Python_para_DataScience_e_Machine_Learning">Repository</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="data" src="{{ "/assets/img/projects/bingo.jpg" | prepend: site.baseurl }}"/>
  </div>
  <div class="contents-right">
    <h3>Bingo All Stars - Ambra Gaming</h3>
    <p>Participation in the development of <b>Ambra Gaming's Bingo Multigame Bingo</b> project developed with <b>C++</b>.</p>
    <a class="project-link" href="https://www.ambragaming.com/game/bingo-all-stars/">Link</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="data" src="{{ "/assets/img/projects/slot.jpg" | prepend: site.baseurl }}"/>
  </div>
  <div class="contents-left">
    <h3>Ambra All Stars - Ambra Gaming</h3>
    <p>Participation in the development of <b>Ambra Gaming's Slot Multigame Bingo</b> project developed with <b>C++</b>.</p>
    <a class="project-link" href="https://www.ambragaming.com/game/ambra-all-stars/">Link</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="data" src="{{ "/assets/img/projects/weather.png" | prepend: site.baseurl }}"/>
  </div>
  <div class="contents-right">
    <h3>Weather Forecast App</h3>
    <p>Aplication developed in <b>NodeJS</b> using differents APIs to get the current weather of a desired location. For the front part of the application were used <b>HTML</b>, <b>CSS</b> and <b>Javascript</b>.</p>
    <a class="project-link" href="https://wheather-forecast-erick.herokuapp.com/">Link</a>&nbsp;
    <a class="project-link" href="https://github.com/erickfecruz/nodejs-weather-forecast">Repository</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="epicbattle" src="{{ "/assets/img/projects/epicbattle.jpg" | prepend: site.baseurl }}" style="margin:20px 0px" />
  </div>
  <div class="contents-left">
    <h3>The Epic Battle </h3>
    <p>Game developed using <b>C#</b> in <b>Unity3D</b> game engine, with the intention of recreating a battle system based on classic turn RPG games like Final Fantasy.
		<br><br><b>Obs:</b> The sprites used are Square Enix property. Non-profit product!</p>
    <a class="project-link" href="https://drive.google.com/open?id=16bzEX9V8n5ZW-dbt5syAHNoo9oZYqkXt">Download</a>&nbsp;
	<a class="project-link" href="https://github.com/erickfecruz/Coursera_-_C-_Programming_for_Unity">Repository</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="epicbattle" src="{{ "/assets/img/projects/beavers.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Dammit Beavers</h3>
    <p>Dammit Beavers was a game developed by Ambra Gaming's team of developers and designers in our participation in Global Game Jam 2020.</p>
    <a class="project-link" href="https://globalgamejam.org/2020/games/dammit-beavers-7">Site</a>&nbsp;
	<a class="project-link" href="https://github.com/erickfecruz/Global_Game_Jam_2020_-_Dammit_Beavers">Repository</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="maze" src="{{ "/assets/img/projects/maze.png" | prepend: site.baseurl }}" style="margin:65px 0px"/>
  </div>
  <div class="contents-left">
    <h3> Maze Resolution and Generation Algorithms</h3>
    <p>Application developed using <b>C#</b> in <b>Unity3D</b> engine, that allows real-time visualization of the operation of different maze generation and resolution algorithms.<br><br>Project developed as part of the undergraduate thesis to obtain the title of Bachelor in Computer Science<br></p>
    <a class="project-link" href="https://drive.google.com/open?id=1XNR5JKPnHcQWwUkoOC9aEJ-meOWC6LJy">Download</a>&nbsp;
	<a class="project-link" href="https://github.com/erickfecruz/TCC_Graduacao_-_Geracao_e_Resolucao_de_Algoritmos">Repository</a>&nbsp;
	<a class="project-link" href="https://drive.google.com/open?id=1FU5_K2glRMBhKpCrgF4LOpU0Qn5WQqAO">Paper</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="maze" src="{{ "/assets/img/projects/mymanga.png" | prepend: site.baseurl }}"/>
  </div>
  <div class="contents-right">
    <h3> My Manga Collection </h3>
    <p>Application developed as final project for the discipline of "Advanced Programming for Mobile Devices" during the Bachelor in Computer Science (UFABC).<br></p>
	<a class="project-link" href="https://github.com/erickfecruz/APK_-_My_Manga_Collection">Repository</a>
	<a class="project-link" href="https://drive.google.com/open?id=0B9aQVwf7b-hBMktrdXhnTWE2dTQ">Report</a>
  </div>
</div>